.badge_container {
  display: flex;
  justify-content: center; /* Adjust as needed */
}

.ace_badge {
  width: 25;
  height: 25;
}
.whoamibox {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.cmd {
  color: green;
  font-family: monospace;
  font-style: normal;
  font-size: larger;
}

.cert_title {
  text-align: center;
  padding-bottom: 2.5rem;
}

@media screen and (max-width: 1024px) {
  .badge_container {
    object-fit: contain;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 600px) {
  .badge_container {
    object-fit: contain;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
